<body bgcolor="">
<div fxLayoutAlign="center center"  fxLayout="column" >
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Welcome to Cherry Blossom</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field >
              <input matInput placeholder="UserName">
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="Password" type="password">
              </mat-form-field>
              <div class="form-group form-check">
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
                </label>
                </div>
              <a href="src\assets\main-page\main-page.html"><button mat-raised-button type="submit" >Login</button></a>
            </form>
    </mat-card>
</div>
</body>
