<router-outlet></router-outlet>
<body bgcolor="">
  <p>
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">    
          <mat-icon>menu</mat-icon>
        </button>
        <option>
        </option>
        <span> Cherry Blossom </span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </p>
  
    <div class="column" style="background-color:orange;font-style: italic;">
      <div  style="font-weight: bold; text-align: center; height: 50px;font-size: x-large;border-width:4px; border-style:double;border-color:grey;" >
        FACE CARE
      </div>
      <div  style="background-color:white;height:500px;float:left" >
        <img class="float_left" src={{facecareimage}}  style="width:600px;height:500px;">
      </div>
      <div style="font-size:15px;background-color:rgb(252, 250, 250);height: 500px;
      ">
      <form action ="">
      
        <label for="home"> Acne - Remedy </label>
        <select id ="home" name="home">
        <option value="abc"> Tea Tree Oil </option>
        <option value="abc"> Honey Mask</option>
        <option value="abc"> Oatmeal</option>
        <option value="abc">Orange peel</option>
        <option value="abc">Aloe vera gel</option>
        </select><br> <hr>
        <label for="home"> Black Heads - Remedy </label>
        <select id ="home" name="home">
        <option value="abc">Cinnamon</option>
        <option value="abc">Green Tea</option>
        <option value="abc">Egg whites</option>
        <option value="abc">Cornmeal</option>
        <option value="abc">Baking Soda</option>
        </select><br><hr>
        <label for="home"> Face Wrinkles - Remedy </label>
        <select id ="home" name="home">
        <option value="abc">Papaya Mask</option>
        <option value="efg">Tomato Mask</option>
        <option value="abc">Yoghurt Mask</option>
        <option value="abc">Almond Mask</option>
        <option value="abc">Vitamin-E Capsules</option>
  
        </select><br><hr>
        
    </form>
    </div>
   
  </div><br>
  
   
  
  
  <div class="column" style="background-color:orange; font-style:italic;"> 
    <div  style="font-weight: bold; text-align: center; height: 50px;font-size:x-large;border-width:4px; border-style:double;border-color:grey;" >
      HAIR CARE 
    </div>
    <div  style="background-color:white;height:500px;float:left" >
      <img class="float_left" src={{haircareimage}}  style="width:600px;height:500px;">
    </div>
    <div style="font-size:15px;background-color:rgb(252, 250, 250);height: 500px;
      ">
    <form action ="">
      
      <label for="home"> Hair Loss - Remedy </label>
      <select id ="home" name="home">
      <option value="abc"> Castor oil</option>
      <option value="abc"> Almond oil</option>
      <option value="abc"> Rosemary oil</option>
      <option value="abc"> Fish oil</option>
      <option value="abc"> Onion juice</option>
      </select><br> <hr>
      <label for="home"> Dandruff - Remedy </label>
      <select id ="home" name="home">
      <option value="abc">Neem </option>
      <option value="abc">Lemon</option>
      <option value="abc">Egg whites</option>
      </select><br><hr>
      <label for="home"> Split Ends - Remedy </label>
      <select id ="home" name="home">
      <option value="abc">Cocoa Butter</option>
      <option value="efg">Ripe Papaya</option>
      <option value="abc">Beer</option>
      </select><br><hr>
  </form>
    </div>
  </div><br>
  
  <div class="column" style="background-color:orange; font-style: italic;"> 
    <div  style="font-weight: bold; text-align: center; height: 50px;font-size: x-large;border-width:4px; border-style:double;border-color:grey;" >
      LIP CARE 
    </div>
    <div  style="background-color:white;height:500px;float:left" >
      <img class="float_left" src={{lipcareimage}}  style="width:600px;height:500px;">
    </div>
    <div style="font-size:15px;background-color:rgb(252, 250, 250);height: 500px;
      ">
    <form action ="">
      
      <label for="home"> Dark Lips - Remedy </label>
      <select id ="home" name="home">
      <option value="abc"> honey n sugar</option>
      <option value="abc"> Lemon juice</option>
      </select><br> <hr>
      <label for="home"> Dry Lips - Remedy </label>
      <select id ="home" name="home">
      <option value="abc">Jojoba Oil </option>
      <option value="abc">Strawberry</option>
      <option value="abc">Vaseline</option>
      </select><br><hr>
      <label for="home"> Swollen Lips - Remedy </label>
      <select id ="home" name="home">
      <option value="abc">Warm Water</option>
      <option value="efg">Coconut Oil</option>
      <option value="abc">Ice cubes</option>
      </select><br><hr>
  </form>
  </div>
  </div><br>
  
  
  </body>
  
    